.banner {
    background-image: linear-gradient(to right, rgb(103, 148, 220) , rgb(16, 51, 179));
    /* background-image: url("../../images/profile.png"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    
  }
  #image{
    height:20px;
    padding-left: 7px;
  }
  .banner > h1 {
    margin: 5vmax;
  
    font: 600 2.5vmax "Roboto";
  }
  
  .banner > p {
    font: 300 1.7vmax "Lucida Sans";
    text-align: center;
  color: rgba(255,255,255,0.1);
  background: -webkit-gradient(linear, left top, right top, from(#01255e), to(#052776), color-stop(0.5, #bcd4ef));
  background: -moz-gradient(linear, left top, right top, from(#01255e), to(#052776), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#01255e), to(#052776), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color:#031d46;
  }
  .banner > a > button {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    width: 9vmax;
    font: 500 1vmax "Roboto";
    border-radius: 20px;
  }
  .banner > a {
    text-decoration: none;
  }
  .banner > a > button:hover {
    background-color: rgba(16, 73, 207, 0);
    filter: invert(100%);
  }
  .banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(0 100%, 100% 80%, 100% 100%,0 100%);
    max-width: 100%;
  }

   
  
   
  .homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgba(3, 59, 148, 0.7);
  }
  .container{
display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;;
  }
   .productCard{
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
   }
   .productCard > img {
    width: 14vmax;
  }
  
  .productCard > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .productCardSpan {
    margin: 0.5vmax;
    font: 300 0.7vmax "Roboto";
  }
  
  .productCard > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
  }
  
  .productCard > span {
    margin: 0.5vmax;
    color: rgb(25, 91, 212);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
  }
  .productCard:hover {
    box-shadow: 0 0 5px rgba(23, 48, 171, 0.655);
  
    transform: translateY(-1vmax);
  }
  @-moz-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-webkit-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @-o-keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  @keyframes shimmer {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
  }
  
  @media screen and (max-width: 600px) {
    .productCard > p {
      font-size: 1.7vmax;
    }
    .productCard > div {
      margin: 0vmax;
      display: block;
    }
  
    .productCard > span {
      font-size: 1.5vmax;
    }
  
    .productCard > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax "Roboto";
    }
  }